.html {
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 20rem;
}